<h1 class="text-3xl font-bold mb-4">TODO LIST</h1>

<ul class="list-disc px-5">
  <% @todos.each do |todo| %>
    <li>
      <a href="<%= todo_path(todo) %>"><%= todo.title %></a>
    </li>
  <% end %>
</ul>

<%= link_to "New Todo", new_todo_path, class:"p-2 mt-4 block w-max shadow-md bg-sky-600 text-white cursor-pointer" %>
